@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="index-page-greeting">Stock management system</h1>
    <p class="index-page-greeting-p">Your friendly neighbourhood app</p>

    <img src="~/img/logo.png" style="width: 75vh" alt="ïmage" />
</div>
